<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>IT slang dictionary</title>
    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
<div class="form">
    <h2>Введите слово из области IT</h2>
    <form th:action="@{/descriptions}" th:object="${formData}" method="post">
        <div>
            <label for="query">Запрос</label>
            <input name="query" id="query" value="" th:field="*{query}" required>
        </div>
        <div>
            <input class="button" type="submit" value="Отправить"/>
        </div>
    </form>
</div>
<div id="task-list">
    <div class="query_list" th:each="descriptions : ${descriptionList}">
        <div class="list_block_1">
            <p th:text="${descriptions}"> ??? </p>
        </div>
    </div>
</div>
</body>
</html>